@import "../../../../../styles/variables.scss";

.card-container {
  background: $primary-white;
  padding: $space-lg;
  padding-top: 0px;
  border-radius: $radius-sm;

  display: flex;
  flex-direction: column;
  row-gap: $space-lg;

  border: 1px solid $primary-lightgrey;
  width: 100%;
  box-sizing: border-box;
}

.card-body {
  padding: $space-2xs;
}

.subtitle {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  color: $text-lightblack;
}

.passenget-badge {
  background: $secondary-light-blue;
  border-radius: $radius-sm;
  padding: $space-3xs 8px;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $text-primary;

  min-width: 70px;
  height: 30px;
  width: fit-content;

  text-align: center;
}

.form-row {
  display: flex;
  row-gap: $space-2xs;
}

.form-control {
  height: 48px;
}

@media (max-width: 992px) {
  .card-container {
    padding: $space-md;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .card-container {
    padding: $space-sm;
    padding-top: 0;
  }

  .form-check-inline {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
