<dl class="row mb-0 small" *ngIf="trip">
  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_PLATE' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.licensePlate || '&mdash;' }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_DRIVER' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.driverName || '&mdash;' }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_DEPARTURE' | translate }}</dt>
  <dd class="col-sm-7">{{ formatDateTime(trip.departureDateTime) }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_ARRIVAL' | translate }}</dt>
  <dd class="col-sm-7">{{ formatDateTime(trip.arrivalDateTime) }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_PRICE' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.pricePerSeat | currency:'THB':'symbol' }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_CAPACITY' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.capacity }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_AVAILABLE' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.availableCount }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_RESERVED' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.reservedUnpaidCount }}</dd>

  <dt class="col-sm-5">{{ 'STAFF.SELL.TRIP_DETAIL_SOLD' | translate }}</dt>
  <dd class="col-sm-7">{{ trip.soldPaidCount }}</dd>
</dl>
