<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="logo.svg" alt="Logo" class="logo-img" />
    </div>
    <ul class="nav-links mt-3">
      <li><a href="#">หน้าแรก</a></li>
      <li><a href="#">ตารางเดินรถ</a></li>
      <li><a href="#">วิธีจองและชำระเงิน</a></li>
      <li><a href="#">ติดต่อเรา</a></li>
      <li class="dropdown">
        <a href="#">ภาษาไทย &#x25BC;</a>
      </li>
    </ul>
    <div class="auth-buttons">
      <button class="login-btn">เข้าสู่ระบบ</button>
      <button class="signup-btn">สมัครสมาชิก</button>
    </div>
  </div>
</nav>
