@import "../../../../../styles/variables.scss";

.card-container {
  background: $primary-white;
  padding: 24px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  margin-top: 90px;
  padding: 24px;

  border: 1px solid $primary-lightgrey;
}

.card-header {
  font-size: 20px;
  font-weight: 500;
}

.card-body {
  font-size: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;
 
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-footer {
  font-size: 18px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 0;
}

.dotted-line {
  border: none;
  border-top: 3px dotted $primary-lightgrey;
  margin: 0;
}

.btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  height: 52px;

  background: $primary-blue;
  border-radius: 24px;

  margin-top: 24px;
  padding: 25.5px 8px;

  color: $text-white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in-out;
  }
}