<div class="reschedule-step reschedule-date-step">
  <p class="reschedule-step__hint">
    {{ "MY_BOOKINGS.RESCHEDULE.STOPS_FIXED_NOTE" | translate }}
  </p>

  <label class="reschedule-date-step__label" for="reschedule-date-input">
    {{ "MY_BOOKINGS.RESCHEDULE.DATE_LABEL" | translate }}
  </label>

  <p-datePicker
    inputId="reschedule-date-input"
    dateFormat="dd/mm/yy"
    [showIcon]="true"
    [iconDisplay]="'input'"
    styleClass="app-date-field"
    panelStyleClass="app-date-field-panel"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [ngModel]="selectedDate"
    (onSelect)="onSelect($event)"
  >
    <ng-template pTemplate="inputicon">
      <img class="app-date-field-icon" src="icons/calendar.svg" [attr.alt]="'COMMON.CALENDAR_ICON_ALT' | translate" />
    </ng-template>
  </p-datePicker>
</div>
