.content-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  padding: 0 360px;
}

.summary-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.total-container {
  width: 40%;
}

