.content-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  padding: 0 clamp(16px, 8vw, 120px);
  flex-wrap: wrap;
}

.summary-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.total-container {
  width: 40%;
}

@media (max-width: 1024px) {
  .content-container {
    padding: 0 clamp(12px, 6vw, 80px);
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    row-gap: 16px;
  }

  .summary-container,
  .total-container {
    width: 100%;
  }
}

