<app-navbar></app-navbar>

<app-stepper></app-stepper>

<div class="content-container">
  <div class="summary-container">
    <app-payment-info></app-payment-info>
  </div>

  <div class="total-container">
    <app-payment-creditcard
      *ngIf="activePaymentTab === 'creditcard'"
      [activeTab]="activePaymentTab"
      (tabChange)="onPaymentTabChange($event)"
      (back)="onBack()"
    ></app-payment-creditcard>
    <app-payment-qrcode
      *ngIf="activePaymentTab === 'qrcode'"
      [activeTab]="activePaymentTab"
      (tabChange)="onPaymentTabChange($event)"
      (back)="onBack()"
    ></app-payment-qrcode>
  </div>
</div>

<app-footer></app-footer>
