.content-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  padding: 0 360px;
}

.summary-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.total-container {
  width: 30%;
}

@media (max-width: 1024px) {
  .content-container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    row-gap: 16px;
  }

  .summary-container,
  .total-container {
    width: 100%;
  }
}

