<div class="card-container">
  <!-- ROW 1 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B1'"
      [gender]="isSelected == 'B1' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B1') && isSelected != 'B1'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- DRIVER -->
    <div class="driver-box">
      <img src="images/passenger-driver.png" alt="Passenger Driver Image" />
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="seat-row">
    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B2'"
      [gender]="isSelected == 'B2' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B2') && isSelected != 'B2'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B3'"
      [gender]="isSelected == 'B3' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B3') && isSelected != 'B3'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 3 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B4'"
      [gender]="isSelected == 'B4' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B4') && isSelected != 'B4'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B5'"
      [gender]="isSelected == 'B5' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B5') && isSelected != 'B5'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B6'"
      [gender]="isSelected == 'B6' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B6') && isSelected != 'B6'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 4 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B7'"
      [gender]="isSelected == 'B7' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B7') && isSelected != 'B7'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B8'"
      [gender]="isSelected == 'B8' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B8') && isSelected != 'B8'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B9'"
      [gender]="isSelected == 'B9' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B9') && isSelected != 'B9'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 5 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B10'"
      [gender]="isSelected == 'B10' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B10') && isSelected != 'B10'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B11'"
      [gender]="isSelected == 'B11' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B11') && isSelected != 'B11'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B12'"
      [gender]="isSelected == 'B12' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B12') && isSelected != 'B12'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
    
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B13'"
      [gender]="isSelected == 'B13' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B13') && isSelected != 'B13'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 6 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B14'"
      [gender]="isSelected == 'B14' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B14') && isSelected != 'B14'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B15'"
      [gender]="isSelected == 'B15' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B15') && isSelected != 'B15'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B16'"
      [gender]="isSelected == 'B16' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B16') && isSelected != 'B16'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B17'"
      [gender]="isSelected == 'B17' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B17') && isSelected != 'B17'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 7 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B18'"
      [gender]="isSelected == 'B18' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B18') && isSelected != 'B18'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B19'"
      [gender]="isSelected == 'B19' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B19') && isSelected != 'B19'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B20'"
      [gender]="isSelected == 'B20' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B20') && isSelected != 'B20'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'B21'"
      [gender]="isSelected == 'B21' ? gender : ''"
      [isDisabled]="isSeatTakenByOther('B21') && isSelected != 'B21'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>
</div>
