<div class="card-container">
  <!-- ROW 1 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B1</div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- DRIVER -->
    <div class="driver-box">
      <img src="images/passenger-driver.png" alt="Passenger Driver Image" />
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="seat-row">
    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <div class="seat-box">B2</div>

    <!-- SEAT -->
    <div class="seat-box">B3</div>
  </div>

  <!-- ROW 3 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B4</div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <div class="seat-box">B5</div>

    <!-- SEAT -->
    <div class="seat-box">B6</div>
  </div>

  <!-- ROW 4 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B7</div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <div class="seat-box">B8</div>

    <!-- SEAT -->
    <div class="seat-box">B9</div>
  </div>

  <!-- ROW 5 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B10</div>

    <!-- SEAT -->
    <div class="seat-box">B11</div>

    <!-- SEAT -->
    <div class="seat-box">B12</div>

    <!-- SEAT -->
    <div class="seat-box">B13</div>
  </div>

  <!-- ROW 6 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B14</div>

    <!-- SEAT -->
    <div class="seat-box">B15</div>

    <!-- SEAT -->
    <div class="seat-box">B16</div>

    <!-- SEAT -->
    <div class="seat-box">B17</div>
  </div>

  <!-- ROW 7 -->
  <div class="seat-row">
    <!-- SEAT -->
    <div class="seat-box">B18</div>

    <!-- SEAT -->
    <div class="seat-box">B19</div>

    <!-- SEAT -->
    <div class="seat-box">B20</div>

    <!-- SEAT -->
    <div class="seat-box">B21</div>
  </div>
</div>
