@import "../../../../../styles/variables.scss";

.booking-container {
  width: 100%;

  .home-bg {
    width: -webkit-fill-available;
    max-width: 100%;
    object-fit: cover;
  }

  .secondary-lightgrey-bg {
    width: -webkit-fill-available;
    height: 100px;
    background-color: $secondary-lightgrey;
  }
}

.booking-section {
  display: flex;
  justify-content: center;

  background-color: $secondary-lightgrey;

  .booking-card {
    display: flex;
    flex-direction: column;
    width: max-content;

    padding: 24px 32px;
    margin-top: -80px;

    background-color: $primary-white;
    border-radius: 24px;
  }
}

.station-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;

  .station-group {
    display: flex;
    align-items: center;

    .station-icon {
      margin-top: 30px;
    }

    .station-datepicker {
      margin-top: 30px;
    }
  }
}

.calendar-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 16px;
}

.btn-search {
  height: 52px;
  width: 160px;

  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;

  margin-top: 30px;

  font-size: 18px;
  font-weight: 500;
  color: $text-white;

  background-color: $primary-blue;
  border-radius: 24px;

  img {
    width: 20px;
    height: 20px;
  }
}

.label-return {
  font-size: 16px;
  color: #989ba4;
}

.label-schedule-booking {
  font-size: 16px;
  color: $text-black;
}

.horizontal-dotted-line {
  border-top: 2px dotted #edeef0;
  width: 100%;
  margin: 10px 0;
}
