@import "../../../../../styles/variables.scss";

.booking-container {
  width: 100%;
  height: 100vh;

  .home-bg {
    width: -webkit-fill-available;
    height: 640px;
    object-fit: cover;
  }

  .secondary-lightgrey-bg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: $secondary-lightgrey;
  }
}

.booking-card {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 1200px;
  height: max-content;
  padding: 24px 32px;

  background-color: $primary-white;
  top: 50%;
  left: 20%;

  border-radius: 24px;
}
