<div class="booking-container">
  <!-- MAIN BACKGROUND -->
  <img class="home-bg" src="images/home-bg.svg" />

  <div class="booking-card">
    <div class="d-flex gap-5">
      <app-dropdown-obrs
        [isBorder]="false"
        [isLabel]="false"
        [label]="'roundTrip'"
        [options]="roundTripDropdowns"
      ></app-dropdown-obrs>

      <app-dropdown-obrs-passenger></app-dropdown-obrs-passenger>
    </div>

    <div class="station-section mt-4">
      <app-dropdown-obrs
        [isBorder]="true"
        [isLabel]="true"
        [label]="'HOME.HOME_BOOKING.START_STATION'"
        [options]="[]"
      ></app-dropdown-obrs>

      <img
        class="mt-4"
        src="icons/passenger-station-gap.svg"
        alt="Passenger Station Gap Icon"
      />

      <app-dropdown-obrs
        [isBorder]="true"
        [isLabel]="true"
        [label]="'HOME.HOME_BOOKING.END_STATION'"
        [options]="[]"
      ></app-dropdown-obrs>
    </div>
  </div>

  <!-- LIGHTGREY BACKGROUND -->
  <div class="secondary-lightgrey-bg"></div>
</div>
