@import "../../../../../styles/variables.scss";

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 40px;

  height: 80px;

  background-color: $primary-white;
}

.logo {
  width: 80px;
  height: 35px;

  margin-right: 209px;
}

.menu-font {
  text-decoration: none;
  color: $text-black;
  font-size: 18px;
  font-weight: 400;

  &-active {
    color: $primary-blue;
    font-weight: 500;
  }
}

.btn.dropdown-toggle {
  padding: 8px;
  width: 170px;
  height: 48px;
  margin-top: 14px;

  border: 1px solid $primary-lightgrey;
  border-radius: 24px;

  background-color: transparent;
}

.btn-lang {
  &:hover {
    color: $primary-blue;
    border: 1px solid $primary-blue;
  }
}

.menu-lang {
  cursor: pointer;
  padding: 10px;

  text-decoration: none;
  color: $text-black;
  font-size: 18px;
  font-weight: 500;

  background-color: transparent;

  &:hover {
    color: $primary-blue;
  }
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.dropdown-toggle::after {
  content: none;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;

  height: 80px;
}

.divide-line {
  width: 40px;
  height: 0px;

  border: 1px solid #dddee1;
  transform: rotate(-90deg);
}

.btn-signin {
  width: 140px;
  height: 52px;
  padding: 12px 30px;

  color: $text-black;
  font-size: 18px;
  font-weight: 500;

  border: 1px solid $primary-lightgrey;
  border-radius: 24px;

  background-color: transparent;
}

.btn-signup {
  width: 160px;
  height: 52px;
  padding: 12px 30px;

  color: $text-white;
  font-size: 18px;
  font-weight: 500;

  border-radius: 24px;

  background-color: $primary-blue;
}
