@import "../../../../../styles/variables.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40px;

  width: 100%;
  height: 80px;

  background-color: $primary-white;
}

.logo {
  width: 80px;
  height: 35px;

  margin-right: 209px;
}

.menu-font {
  font-size: 18px;
  font-weight: 400;
  color: $text-black;
  text-decoration: none;

  &-active {
    color: $primary-blue;
    font-weight: 500;
  }
}

.btn.dropdown-toggle {
  display: inline-block;
  width: 170px;
  height: 48px;
  margin-top: 14px;
  padding: 8px;

  border: 1px solid $primary-lightgrey;
  border-radius: 24px;

  background-color: transparent;
}

.btn.dropdown-toggle-no-border {
  display: inline-block;
  width: 170px;
  height: 48px;
  margin-top: 14px;
  padding: 8px;

  border: transparent;

  background-color: transparent;
}

.btn-lang {
  &:hover {
    color: $primary-blue;
    border: 1px solid $primary-blue;
  }
}

.menu-lang {
  cursor: pointer;
  padding: 10px;

  font-size: 18px;
  font-weight: 500;
  color: $text-black;
  text-decoration: none;

  background-color: transparent;

  &:hover {
    color: $primary-blue;
  }
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.dropdown-toggle::after {
  content: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;

  height: 80px;
}

.divide-line {
  width: 40px;
  height: 0px;

  border: 1px solid #dddee1;
  transform: rotate(-90deg);
}

.btn-signin {
  display: inline-block;
  min-width: 140px;
  height: 52px;
  padding: 8px 30px;

  font-size: 18px;
  font-weight: 500;
  color: $text-black;

  border: 1px solid $primary-lightgrey;
  border-radius: 24px;

  background-color: transparent;
}

.btn-signup {
  display: inline-block;
  min-width: 160px;
  height: 52px;
  padding: 8px 30px;

  font-size: 18px;
  font-weight: 500;
  color: $text-white;

  border-radius: 24px;

  background-color: $primary-blue;
}