@import "../../../../../styles/variables.scss";

.seat-box {
  background: $primary-white;
  border-radius: 8px;

  border: 1px solid #4bc2f7;

  width: 80px;
  height: 80px;
  padding: 5px;
  cursor: pointer;

  position: relative;

  font-size: 12px;
  font-weight: bold;

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.disabled {
  background-color: $primary-grey;
  border: 1px solid $primary-grey;
  cursor: not-allowed;

  img {
    filter: grayscale(100%);
  }
}
