<!-- SEAT -->
<div
  class="seat-box"
  [class.disabled]="isDisabled"
  (click)="setPassengerSeatOuput(label)"
>
  {{ label }}

  <!-- ชาย -->
  <img
    *ngIf="(isSelectPassenger || isDisabled) && gender == 'MALE'"
    class="passenger-male-icon"
    src="icons/passenger-male.svg"
    alt="Passenger Male Icon"
  />

  <!-- หญิง -->
  <img
    *ngIf="(isSelectPassenger || isDisabled) && gender == 'FEMALE'"
    class="passenger-female-icon"
    src="icons/passenger-female.svg"
    alt="Passenger Female Icon"
  />

  <!-- พระ -->
  <img
    *ngIf="(isSelectPassenger || isDisabled) && gender == 'MONK'"
    class="passenger-monk-icon"
    src="icons/passenger-monk.svg"
    alt="Passenger Monk Icon"
  />
</div>
