$primary-blue: #4bc2f7;
$primary-grey: #babdc3;
$primary-lightgrey: #dddee1;
$primary-white: #fff;

$secondary-blue: #4069b8;
$secondary-grey: #f9f9ff;

$text-black: #353c44;
$text-red: #cb393a;
$text-white: #ffffff;