$primary-blue: #4bc2f7;
$primary-lightblue: #dbf3fd;
$primary-grey: #babdc3;
$primary-lightgrey: #dddee1;
$primary-white: #fff;
$primary-black: #0d1525;

$secondary-blue: #4069b8;
$secondary-grey: #f9f9ff;
$secondary-lightgrey: #edf9fe;

$text-black: #353c44;
$text-lightblack: #757a86;
$text-softblack: #535968;
$text-red: #cb393a;
$text-white: #ffffff;
$text-blue: #3c9bc6;
$text-lightgrey: #989ba4;
