<div class="admin-table-wrap">
  <table class="admin-table">
    <caption class="visually-hidden">{{ 'STAFF.FLEET_MAP.VEHICLE_LIST_TITLE' | translate }}</caption>
    <thead>
      <tr>
        <th scope="col">{{ 'STAFF.FLEET_MAP.COL.PLATE' | translate }}</th>
        <th scope="col">{{ 'STAFF.FLEET_MAP.COL.STATUS' | translate }}</th>
        <th scope="col">{{ 'STAFF.FLEET_MAP.COL.LAST_UPDATE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (vehicle of vehicles; track trackByVehicleId(i, vehicle); let i = $index) {
        <tr [class.zebra]="i % 2 === 1">
          <td class="admin-emphasis">{{ vehicle.numberPlate }}</td>
          <td>
            <span class="admin-status" [ngClass]="chipFor(vehicle).token">
              {{ chipFor(vehicle).i18nKey | translate }}
            </span>
          </td>
          @if (lastUpdateLabelFor(vehicle); as label) {
            <td>
              {{ label.key | translate: label.params }}
            </td>
          }
        </tr>
      }

      @if (vehicles.length === 0) {
        <tr class="admin-empty-row">
          <td colspan="3">{{ 'ADMIN.COMMON.NO_DATA' | translate }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
