<h3 class="title">สรุปการเดินทาง</h3>

<div class="card-container">
  <div class="card-header">
    <div class="card-header-text">
      <img src="icons/schedule-booking-bus.svg" alt="Bus Icon" />

      <div class="card-header-text-details">
        <div class="header-text">รอบการเดินทาง</div>

        <div class="subheader-text">
          วันที่ 10 ธ.ค 2024 | หนองซาก - BTS หมอชิต | เที่ยวเดียว
        </div>
      </div>
    </div>

    <div class="card-header-button">
      <button class="btn-change-info" type="button">เปลี่ยนข้อมูล</button>
    </div>
  </div>

  <div class="card-body">
    <img
      src="images/schedule-booking-line-vertical.svg"
      alt="Bus Line Vertical Icon"
    />

    <div class="card-body-detail">
      <div class="card-body-detail-station">
        <div class="body-header-text">07:00 น.</div>

        <div class="card-body-detail-station-info">
          <div class="body-header-text">หนองซาก</div>

          <div class="body-subheader-text">ชลบุรี</div>
        </div>
      </div>

      <div class="body-subheader-text">1ชม. 5 น.</div>

      <div class="card-body-detail-station mt-2">
        <div class="body-header-text">08:05 น.</div>

        <div class="card-body-detail-station-info">
          <div class="body-header-text">BTS หมอชิต</div>

          <div class="body-subheader-text">กรุงเทพฯ</div>
        </div>
      </div>
    </div>
  </div>
</div>
