@import "../../../home/components/home-booking/home-booking.component.scss";

.booking-section {
  background: #f6fcff;
  display: flex;
  justify-content: center;

  .booking-card {
    width: min(100%, 1200px);
    box-sizing: border-box;

    margin-top: 32px;
    margin-bottom: 32px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
}
