@import "../../../home/components/home-booking/home-booking.component.scss";

.booking-section {
  padding: 0 360px;

  .booking-card {
    width: 100%;

    margin-top: 32px;
    margin-bottom: 32px;
  }
}
