<div class="admin-dropdown" [class.is-open]="isOpen" [class.is-disabled]="disabled">
  <button
    type="button"
    class="admin-dropdown-trigger"
    [disabled]="disabled"
    [attr.aria-expanded]="isOpen"
    (click)="toggleDropdown()"
    >
    <span class="admin-dropdown-value">
      @if (icon) {
        <span class="material-symbols-outlined admin-dropdown-leading" [attr.translate]="'no'">{{ icon }}</span>
      }
      <span [class.is-placeholder]="!selectedLabel">{{ selectedLabel || placeholder }}</span>
    </span>
    <span class="material-symbols-outlined admin-dropdown-arrow" [attr.translate]="'no'">expand_more</span>
  </button>

  @if (isOpen) {
    <div class="admin-dropdown-menu">
      @if (placeholder) {
        <button
          type="button"
          class="admin-dropdown-option"
          [class.is-selected]="hasEmptySelection"
          (click)="selectOption('')"
          >
          <span>{{ placeholder }}</span>
          @if (hasEmptySelection) {
            <span class="material-symbols-outlined admin-dropdown-check" [attr.translate]="'no'">
              check_circle
            </span>
          }
        </button>
      }
      @for (option of options; track trackByOption($index, option)) {
        <button
          type="button"
          class="admin-dropdown-option"
          [class.is-selected]="isSelected(option)"
          (click)="selectOption(option)"
          >
          <span>{{ getOptionLabel(option) }}</span>
          @if (isSelected(option)) {
            <span class="material-symbols-outlined admin-dropdown-check" [attr.translate]="'no'">
              check_circle
            </span>
          }
        </button>
      }
    </div>
  }
</div>
