<div class="card-container">
  <!-- ROW 1 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A1'"
      [gender]="isSelected == 'A1' ? gender : ''"
      [isDisabled]="isSeatDisabled('A1') && isSelected != 'A1'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- DRIVER -->
    <div class="driver-box">
      <img src="images/passenger-driver.png" alt="Passenger Driver Image" />
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="seat-row">
    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A2'"
      [gender]="isSelected == 'A2' ? gender : ''"
      [isDisabled]="isSeatDisabled('A2') && isSelected != 'A2'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A3'"
      [gender]="isSelected == 'A3' ? gender : ''"
      [isDisabled]="isSeatDisabled('A3') && isSelected != 'A3'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A4'"
      [gender]="isSelected == 'A4' ? gender : ''"
      [isDisabled]="isSeatDisabled('A4') && isSelected != 'A4'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 3 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A5'"
      [gender]="isSelected == 'A5' ? gender : ''"
      [isDisabled]="isSeatDisabled('A5') && isSelected != 'A5'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A6'"
      [gender]="isSelected == 'A6' ? gender : ''"
      [isDisabled]="isSeatDisabled('A6') && isSelected != 'A6'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A7'"
      [gender]="isSelected == 'A7' ? gender : ''"
      [isDisabled]="isSeatDisabled('A7') && isSelected != 'A7'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 4 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A8'"
     [gender]="isSelected == 'A8' ? gender : ''"
      [isDisabled]="isSeatDisabled('A8') && isSelected != 'A8'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A9'"
      [gender]="isSelected == 'A9' ? gender : ''"
      [isDisabled]="isSeatDisabled('A9') && isSelected != 'A9'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A10'"
      [gender]="isSelected == 'A10' ? gender : ''"
      [isDisabled]="isSeatDisabled('A10') && isSelected != 'A10'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>

  <!-- ROW 5 -->
  <div class="seat-row">
    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A11'"
      [gender]="isSelected == 'A11' ? gender : ''"
      [isDisabled]="isSeatDisabled('A11') && isSelected != 'A11'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- EMPTY -->
    <div class="empty-box"></div>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A12'"
      [gender]="isSelected == 'A12' ? gender : ''"
      [isDisabled]="isSeatDisabled('A12') && isSelected != 'A12'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>

    <!-- SEAT -->
    <app-passenger-seat-box
      [label]="'A13'"
      [gender]="isSelected == 'A13' ? gender : ''"
      [isDisabled]="isSeatDisabled('A13') && isSelected != 'A13'"
      (passengerSeatOutput)="setPassengerSeatPosition($event)"
    >
    </app-passenger-seat-box>
  </div>
</div>
