@import "../../../../styles/variables.scss";

.btn.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 120px;
  padding: 12px;

  background-color: transparent;

  &-border {
    border: 1px solid #dddee1 !important;
    border-radius: 24px;
    min-width: 250px;
    height: 40px;
    padding: 12px !important;
  }

  .value-text {
    margin-right: auto;

    font-size: 18px;
    color: $text-black;
  }

  .arrow-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-btn {
  &:hover {
    color: $primary-blue;
    border: 1px solid $primary-blue;
  }
}

.dropdown-option {
  cursor: pointer;
  padding: 10px;

  font-size: 18px;
  color: $text-black;
  text-decoration: none;

  background-color: transparent;

  &:hover {
    color: $primary-blue;
  }
}

.dropdown-menu-border {
  min-width: 200px;
}

li {
  font-size: 18px;
  color: $text-black;
}
