@import "../../../../../styles/variables.scss";

.card-container {
  background: $primary-white;
  padding: 24px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  border: 1px solid $primary-lightgrey;
}

.card-header {
  display: flex;
  justify-content: space-between;

  &-text {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-content: center;

    &-details {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
  }

  &-button {
    display: flex;
    justify-content: flex-end;
  }
}

.title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
}

.header-text {
  font-size: 18px;
  color: $text-lightblack;
}

.subheader-text {
  font-size: 14px;
  color: $text-lightblack;
}

.body-header-text {
  font-size: 18px;
  font-weight: bold;
  color: $text-lightblack;
}

.body-subheader-text {
  font-size: 14px;
  color: $text-lightblack;
}

.card-body {
  background: $primary-white;
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;

  .schedule-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 32px;

    .icon {
      margin-right: 16px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .time {
      font-size: 16px;
      font-weight: 500;
      color: $text-softblack;
    }

    .time-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2px;

      .route {
        font-size: 14px;
        color: $text-softblack;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #babdc3;
  width: 100%;
}

.passenger-header {
  color: $text-lightblack;
  font-size: 16px;
  font-weight: bold;
}

.passenger-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passenger-info {
  color: $text-softblack;
  font-size: 18px;
  font-weight: 500;
}
