<div class="login-container">
  <!-- LEFT SECTION -->
  <div class="left-section">
    <!-- BACKGROUND IMAGE -->
    <img class="bg-img" src="images/login.svg" alt="Tickets" />
  </div>
  <!-- RIGHT SECTION -->
  <div class="right-section">
    <!-- CHANGE LANGUAGE SWITCH + THEME TOGGLE — shared components (same as home navbar) -->
    <div class="change-language">
      <app-theme-toggle></app-theme-toggle>
      <app-lang-switcher></app-lang-switcher>
    </div>
    <!-- LOGO WEBSITE -->
    <div class="logo-section mt-5">
      <img class="logo-img" src="images/forget-password-logo.svg" alt="Forget Password Logo" />
    </div>
    <!-- HEADER TITLE -->
    <div class="welcome-text mt-3">
      {{ "FORGET_PASSWORD.WELCOME" | translate }}
    </div>
    <!-- SUB HEADER TITLE -->
    <div class="hint-text mt-3">
      {{ "FORGET_PASSWORD.HINT" | translate }}
    </div>
    <!-- FORM SECTION -->
    <form class="login-form mt-3" [formGroup]="loginForm">
      <!-- INPUT FIELD -> Phone number -->
      <div class="mt-3">
        <label
          for="email"
          [class.label-error]="
            getForm('phoneNo')?.errors &&
            (getForm('phoneNo')?.touched || getForm('phoneNo')?.dirty)
          "
        >
          {{ "LOGIN.PHONE_NO" | translate }}
        </label>

        <div class="d-flex align-items-center gap-1">
          <!-- input field -->
          <input
            class="form-control mt-1"
            type="text"
            id="phoneNo"
            formControlName="phoneNo"
            [class.form-error]="
              getForm('phoneNo')?.errors &&
              (getForm('phoneNo')?.touched || getForm('phoneNo')?.dirty)
            "
          />
        </div>

        <div
          class="text-error"
          *ngIf="
            getForm('phoneNo')?.errors &&
            (getForm('phoneNo')?.touched || getForm('phoneNo')?.dirty)
          "
        >
          {{ "FORGET_PASSWORD.PHONE_NO_REQUIRED" | translate }}
        </div>
      </div>
      <!-- SENT OTP BUTTON -->
      <button type="submit" class="login-btn mt-3" (click)="goToOTP()">
        {{ "FORGET_PASSWORD.SEND_OTP" | translate }}
      </button>
      <!-- REGISTER LINK -->
      <p class="register-link text-center mt-4">
        {{ "FORGET_PASSWORD.REGISTERLINK" | translate }}
        <a class="obrs-link" [routerLink]="'/register'">
          {{ "FORGET_PASSWORD.REGISTERLINK_CLICK" | translate }}
        </a>
      </p>
    </form>
  </div>
</div>
