@import "../../../styles/variables.scss";

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  padding: 0 clamp(16px, 8vw, 120px);
  flex-wrap: wrap;
}

.title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  width: 70%;
}

.summary-container {
  width: 30%;
}

@media (max-width: 1024px) {
  .content-container {
    padding: 0 clamp(12px, 6vw, 64px);
  }

  .form-container {
    width: 65%;
  }

  .summary-container {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    row-gap: 16px;
  }

  .form-container,
  .summary-container {
    width: 100%;
  }

  .summary-container {
    order: 2;
  }
}
