@import "../../../styles/variables.scss";

.content-container {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding: 0 360px;
}

.title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  width: 70%;
}

.summary-container {
  width: 30%;
}

@media (max-width: 1024px) {
  .content-container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    row-gap: 16px;
  }

  .form-container,
  .summary-container {
    width: 100%;
  }

  .summary-container {
    order: 2;
  }
}
