<app-navbar></app-navbar>

<app-stepper></app-stepper>

<div class="content-container">
  <div class="form-container">
    <h3 class="title">
      {{ "PASSENGER_INFO.PAGE.FORM_TITLE" | translate }}
    </h3>

    <app-passenger-info-form
      (validityChange)="onPassengerFormValidityChange($event)"
    ></app-passenger-info-form>
  </div>

  <div class="summary-container">
    <h3 class="title">
      {{ "PASSENGER_INFO.PAGE.SUMMARY_TITLE" | translate }}
    </h3>

    <app-passenger-info-summary
      [isNextDisabled]="!isPassengerFormValid"
      (next)="onSubmitPassengerInfo()"
      (back)="onBack()"
    ></app-passenger-info-summary>
  </div>
</div>

<app-footer></app-footer>
