@import "../../../../../styles/variables.scss";

.booking-container {
  background: #f6fcff;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 0 360px;

  margin-bottom: 72px;

  .title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }

  .schedule-item {
    background: $primary-white;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    .left {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 32px;

      .icon {
        margin-right: 16px;

        img {
          width: 60px;
          height: 60px;
        }
      }

      .time {
        font-size: 16px;
        font-weight: 500;
        color: $text-softblack;
      }

      .time-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;

        .route {
          font-size: 14px;
          color: $text-softblack;
          text-align: center;
          white-space: nowrap;
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-between;
      column-gap: 24px;

      text-align: right;

      .text-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        row-gap: 6px;
      }

      .price {
        font-size: 18px;
        font-weight: bold;
        color: $text-softblack;
      }

      .availability {
        font-size: 14px;
        font-weight: 400;
        color: #757a86;

        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
      }

      .select-btn {
        background: #4bc2f7;
        color: white;
        border: none;
        border-radius: 26px;
        padding: 6px 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease;

        width: 136px;
        height: 52px;

        &:hover {
          background: #0090d0;
        }

        &-diabled {
          background: #dddee1;
          cursor: not-allowed;

          &:hover {
            background: #dddee1;
          }
        }
      }

      .change-btn {
        background: white;
        color: $text-black;
        border: 1px solid $text-black;
        border-radius: 26px;
        padding: 6px 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease;

        width: 136px;
        height: 52px;

        &-diabled {
          background: #dddee1;
          cursor: not-allowed;

          &:hover {
            background: #dddee1;
          }
        }
      }
    }
  }
}
