<div
  class="card-container"
  *ngIf="this.scheduleBooking | async as scheduleBooking"
>
  <ng-container *ngIf="this.scheduleFilter | async as scheduleFilter">
    <!-- HEADER (Outbound) -->
    <div class="card-header">
      <div class="card-header-text">
        
        <img src="icons/schedule-booking-bus.svg" alt="Bus Icon" />

        
        <div class="card-header-text-details">
          
          <div
            class="header-text"
            *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 1"
          >
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP" | translate }}
          </div>
          
          <div
            class="header-text"
            *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 2"
          >
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP_BEGIN" | translate }}
          </div>

          
          <div class="subheader-text">
            <div>
              {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.DATE_UNIT" | translate }}
            </div>
            
            <div>
              {{
                formatDateFromDateTime(
                  getScheduleBooking(scheduleBooking?.schedule)[0].departureDateTime
                )
              }}
            </div>
            
            <div>|</div>

            
            <div
              *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 1"
            >
              {{
                "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP_ONEWAY" | translate
              }}
            </div>

            
            <div
              *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 2"
            >
              {{
                "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP_TWOWAY" | translate
              }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BODY (Outbound) -->
    <div class="card-body">
      
      <img
        src="images/schedule-booking-line-vertical.svg"
        alt="Bus Line Vertical Icon"
      />
      
      <div class="card-body-detail">
        <div class="card-body-detail-station">
          
          <div class="body-header-text">
            {{
              formatDateTimeToHHMM(
                getScheduleBooking(scheduleBooking?.schedule)[0].departureDateTime
              )
            }}
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.TIME_UNIT" | translate }}
          </div>
          
          <div
            class="card-body-detail-station-info"
            *ngIf="
              findStationById(scheduleFilter.startStationId)
                | async as povinceStation
            "
          >
            
            <div class="body-header-text">
              {{ getStationName(povinceStation?.station) }}
            </div>
            
            <div class="body-subheader-text">
              {{ getProvinceName(povinceStation) }}
            </div>
          </div>
        </div>
        
        <div class="body-subheader-text">
          {{
            getDurationHours(
              getScheduleBooking(scheduleBooking?.schedule)[0].departureDateTime,
              getScheduleBooking(scheduleBooking?.schedule)[0].arrivalDateTime
            )
          }}
          {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.HOUR_UNIT" | translate }}
          {{
            getDurationMinutes(
              getScheduleBooking(scheduleBooking?.schedule)[0].departureDateTime,
              getScheduleBooking(scheduleBooking?.schedule)[0].arrivalDateTime
            )
          }}
          {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.MINITE_UNIT" | translate }}
        </div>
        
        <div class="card-body-detail-station mt-2">
          <div class="body-header-text">
            {{
              formatDateTimeToHHMM(
                getScheduleBooking(scheduleBooking?.schedule)[0].arrivalDateTime
              )
            }}
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.TIME_UNIT" | translate }}
          </div>
          
          <div
            class="card-body-detail-station-info"
            *ngIf="
              findStationById(scheduleFilter.stopStationId)
                | async as povinceStation
            "
          >
            
            <div class="body-header-text">
              {{ getStationName(povinceStation?.station) }}
            </div>
            
            <div class="body-subheader-text">
              {{ getProvinceName(povinceStation) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- Return trip -->
    <ng-container *ngIf="scheduleBooking?.schedule?.length == 2">
      
      <div class="card-header">
        <div class="card-header-text">
          
          <img src="icons/schedule-booking-bus.svg" alt="Bus Icon" />

          
          <div class="card-header-text-details">
            
            <div class="header-text">
              {{
                "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP_RETURN" | translate
              }}
            </div>

            
            <div class="subheader-text">
              <div>
                {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.DATE_UNIT" | translate }}
              </div>
              
              <div>
                {{
                  formatDateFromDateTime(
                    getScheduleBooking(scheduleBooking?.schedule)[1]
                      .departureDateTime
                  )
                }}
              </div>
              
              <div>|</div>

              
              <div>
                {{
                  "REVIEW_SCHEDULE_BOOKING.SUMMARY.ROUND_TRIP_TWOWAY"
                    | translate
                }}
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <!-- BODY (Return) -->
      <div class="card-body">
        
        <img
          src="images/schedule-booking-line-vertical.svg"
          alt="Bus Line Vertical Icon"
        />
        
        <div class="card-body-detail">
          <div class="card-body-detail-station">
            
            <div class="body-header-text">
              {{
                formatDateTimeToHHMM(
                  getScheduleBooking(scheduleBooking?.schedule)[1].departureDateTime
                )
              }}
              {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.TIME_UNIT" | translate }}
            </div>
            
            <div
              class="card-body-detail-station-info"
              *ngIf="
                findStationById(scheduleFilter.startStationId)
                  | async as povinceStation
              "
            >
              
              <div class="body-header-text">
                {{ getStationName(povinceStation?.station) }}
              </div>
              
              <div class="body-subheader-text">
                {{ getProvinceName(povinceStation) }}
              </div>
            </div>
          </div>
          
          <div class="body-subheader-text">
            {{
              getDurationHours(
                getScheduleBooking(scheduleBooking?.schedule)[1].departureDateTime,
                getScheduleBooking(scheduleBooking?.schedule)[1].arrivalDateTime
              )
            }}
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.HOUR_UNIT" | translate }}
            {{
              getDurationMinutes(
                getScheduleBooking(scheduleBooking?.schedule)[1].departureDateTime,
                getScheduleBooking(scheduleBooking?.schedule)[1].arrivalDateTime
              )
            }}
            {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.MINITE_UNIT" | translate }}
          </div>
          
          <div class="card-body-detail-station mt-2">
            <div class="body-header-text">
              {{
                formatDateTimeToHHMM(
                  getScheduleBooking(scheduleBooking?.schedule)[1].arrivalDateTime
                )
              }}
              {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.TIME_UNIT" | translate }}
            </div>
            
            <div
              class="card-body-detail-station-info"
              *ngIf="
                findStationById(scheduleFilter.stopStationId)
                  | async as povinceStation
              "
            >
              
              <div class="body-header-text">
                {{ getStationName(povinceStation?.station) }}
              </div>
              
              <div class="body-subheader-text">
                {{ getProvinceName(povinceStation) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
    </ng-container>

    <div class="card-body-summary">
      <!-- ADULT -->
      <div
        class="card-body-summary-content"
        *ngIf="getAdultCount(scheduleFilter?.passengerInfo) > 0"
      >
        <span>
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.ADULT_UNIT" | translate }}
        </span>
        <span>
          {{ getAdultCount(scheduleFilter?.passengerInfo) }}
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.PASSENGER_UNIT" | translate }}
        </span>
      </div>

      <!-- KIDS -->
      <div
        class="card-body-summary-content"
        *ngIf="getKidCount(scheduleFilter?.passengerInfo) > 0"
      >
        <span>
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.KID_UNIT" | translate }}
        </span>
        <span>
          {{ getKidCount(scheduleFilter?.passengerInfo) }}
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.PASSENGER_UNIT" | translate }}
        </span>
      </div>

      <!-- One-way price -->
      <div
        class="card-body-summary-content"
        *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 1"
      >
        <span>
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TICKET_PRICE" | translate }}
        </span>
        <span>
          {{ getPricePerSeat(getScheduleBooking(scheduleBooking?.schedule)[0].pricePerSeat) }}
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TICKET_UNIT" | translate }}
        </span>
      </div>

      <!-- Round-trip price -->
      <div
        class="card-body-summary-content"
        *ngIf="getScheduleBooking(scheduleBooking?.schedule).length == 2"
      >
        <span>
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TICKET_PRICE_RETURN" | translate }}
        </span>
        <span>
          {{
            getPricePerSeat(getScheduleBooking(scheduleBooking?.schedule)[0].pricePerSeat) +
              getPricePerSeat(getScheduleBooking(scheduleBooking?.schedule)[1].pricePerSeat)
          }}
          {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TICKET_UNIT" | translate }}
        </span>
      </div>
    </div>

    <hr class="dotted-line" />

    
    <!-- Total price -->
    <div class="card-footer">
      <span>
        {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TOTAL" | translate }}
      </span>
      <span>
        {{ sumFare(scheduleBooking?.schedule, scheduleFilter?.passengerInfo) }}
        {{ "REVIEW_SCHEDULE_BOOKING.TOTAL.TOTAL_UNIT" | translate }}
      </span>
    </div>
  </ng-container>
</div>


<div class="btn-container">
  <!-- Back -->
  <div class="w-50">
    <button type="button" class="btn-back" (click)="onBack()">
      {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.BTN_BACK" | translate }}
    </button>
  </div>
  <!-- Next -->
  <div class="w-50">
    <button
      type="button"
      class="btn-next"
      [disabled]="isNextDisabled"
      (click)="onNext()"
    >
      {{ "REVIEW_SCHEDULE_BOOKING.SUMMARY.BTN_NEXT" | translate }}
    </button>
  </div>
</div>




