<div class="npref-matrix">
  <div class="npref-matrix__header">
    <span class="npref-matrix__header-label"></span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_EMAIL' | translate }}</span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_SMS' | translate }}</span>
  </div>

  <app-notification-preference-row
    *ngFor="let row of preferences; trackBy: trackByType"
    [row]="row"
    [disabled]="disabled"
    [showWarning]="warningType === row.type"
    (rowChange)="rowChange.emit($event)"
  ></app-notification-preference-row>
</div>
