<div class="npref-matrix">
  <div class="npref-matrix__header">
    <span class="npref-matrix__header-label"></span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_EMAIL' | translate }}</span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_SMS' | translate }}</span>
  </div>

  @for (row of preferences; track trackByType($index, row)) {
    <app-notification-preference-row
      [row]="row"
      [disabled]="disabled"
      [showWarning]="warningType === row.type"
      (rowChange)="rowChange.emit($event)"
    ></app-notification-preference-row>
  }
</div>
