<div class="npref-matrix">
  @if (hasCriticalRow) {
    <p class="npref-matrix__critical-note" [id]="criticalNoteId">
      {{ 'NOTIFICATION_PREFS.CRITICAL_HINT' | translate }}
    </p>
  }

  <div class="npref-matrix__header">
    <span class="npref-matrix__header-label"></span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_EMAIL' | translate }}</span>
    <span class="npref-matrix__header-cell">{{ 'NOTIFICATION_PREFS.CHANNEL_SMS' | translate }}</span>
  </div>

  @for (row of preferences; track trackByType($index, row)) {
    <app-notification-preference-row
      [row]="row"
      [disabled]="disabled"
      [criticalNoteId]="hasCriticalRow ? criticalNoteId : null"
      [showWarning]="warningType === row.type"
      (rowChange)="rowChange.emit($event)"
    ></app-notification-preference-row>
  }
</div>
