<ng-container *ngIf="passengerForm">
  <!-- FORM SECTION -->
  <form class="login-form" [formGroup]="passengerForm" novalidate>
    <div formArrayName="passengerData">
      <div
        class="card-container mt-3"
        *ngFor="let group of passengerData.controls; let i = index"
        [formGroupName]="i"
      >
        <!-- BODY -->
        <div class="card-body">
          <div class="row form-row">
            <!-- ผู้ใหญ่/เด็ก -->
            <div class="col-12">
              <div class="passenget-badge">
                {{
                  group.get("isAdult")?.value
                    ? ("PASSENGER_INFO.BADGE.ADULT" | translate)
                    : ("PASSENGER_INFO.BADGE.CHILD" | translate)
                }}
                <!-- {{ i + 1 }} -->
              </div>
            </div>

            <!-- ข้อมูลส่วนตัว -->
            <div class="col-12 my-3">
              <div class="subtitle">
                {{ "PASSENGER_INFO.FORM.SECTION_TITLE" | translate }}
              </div>
            </div>

            <!-- ใช้ข้อมูลที่ลงทะเบียน -->
            <div class="col-12 mb-3" *ngIf="i == 0">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isUseAddressInfo-{{ i }}"
                  formControlName="isUseAddressInfo"
                />
                <label class="form-check-label" for="isUseAddressInfo-{{ i }}">
                  {{
                    "PASSENGER_INFO.FORM.USE_REGISTERED_INFO" | translate
                  }}
                </label>
              </div>
            </div>

            <!-- คำนำหน้า -->
            <div class="col-6">
              <label
                for="title-{{ i }}"
                [class.label-error]="
                  group.get('title')?.errors &&
                  (group.get('title')?.touched || group.get('title')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.TITLE" | translate }}
                <span class="form-required">*</span>
              </label>
              <app-dropdown-obrs
                [isBorder]="true"
                [isLabel]="false"
                [options]="titleOptions"
                formControlName="title"
                id="title-{{ i }}"
              ></app-dropdown-obrs>
              <div
                class="text-error"
                *ngIf="
                  group.get('title')?.errors &&
                  (group.get('title')?.touched || group.get('title')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.TITLE_REQUIRED" | translate }}
              </div>
            </div>

            <!-- ชื่อจริง -->
            <div class="col-6">
              <label
                for="firstName-{{ i }}"
                [class.label-error]="
                  group.get('firstName')?.errors &&
                  (group.get('firstName')?.touched ||
                    group.get('firstName')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.FIRST_NAME" | translate }}
                <span class="form-required">*</span>
              </label>
              <input
                class="form-control mt-1"
                id="firstName-{{ i }}"
                formControlName="firstName"
                [class.form-error]="
                  group.get('firstName')?.errors &&
                  (group.get('firstName')?.touched ||
                    group.get('firstName')?.dirty)
                "
              />
              <div
                class="text-error"
                *ngIf="
                  group.get('firstName')?.errors &&
                  (group.get('firstName')?.touched ||
                    group.get('firstName')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.FIRST_NAME_REQUIRED" | translate }}
              </div>
            </div>

            <!-- ชื่อกลาง (ถ้ามี) -->
            <div class="col-6">
              <label for="middleName-{{ i }}">
                {{ "PASSENGER_INFO.FORM.MIDDLE_NAME_OPTIONAL" | translate }}
              </label>
              <input
                class="form-control mt-1"
                id="middleName-{{ i }}"
                formControlName="middleName"
              />
            </div>

            <!-- นามสกุล -->
            <div class="col-6">
              <label
                for="lastName-{{ i }}"
                [class.label-error]="
                  group.get('lastName')?.errors &&
                  (group.get('lastName')?.touched ||
                    group.get('lastName')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.LAST_NAME" | translate }}
                <span class="form-required">*</span>
              </label>
              <input
                class="form-control mt-1"
                id="lastName-{{ i }}"
                formControlName="lastName"
                [class.form-error]="
                  group.get('lastName')?.errors &&
                  (group.get('lastName')?.touched ||
                    group.get('lastName')?.dirty)
                "
              />
              <div
                class="text-error"
                *ngIf="
                  group.get('lastName')?.errors &&
                  (group.get('lastName')?.touched ||
                    group.get('lastName')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.LAST_NAME_REQUIRED" | translate }}
              </div>
            </div>

            <div class="col-6">
              <!-- หมายเลขโทรศัพท์ -->
              <label
                for="phoneNumber-{{ i }}"
                [class.label-error]="
                  group.get('phoneNumber')?.errors &&
                  (group.get('phoneNumber')?.touched ||
                    group.get('phoneNumber')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.PHONE_NUMBER" | translate }}

                <span class="form-required">*</span>
              </label>
              <input
                class="form-control mt-1"
                type="text"
                id="phoneNumber-{{ i }}"
                formControlName="phoneNumber"
                [placeholder]="
                  'PASSENGER_INFO.FORM.PHONE_NUMBER_PLACEHOLDER' | translate
                "
                [class.form-error]="
                  group.get('phoneNumber')?.errors &&
                  (group.get('phoneNumber')?.touched ||
                    group.get('phoneNumber')?.dirty)
                "
              />
              <div
                class="text-error"
                *ngIf="
                  group.get('phoneNumber')?.errors &&
                  (group.get('phoneNumber')?.touched ||
                    group.get('phoneNumber')?.dirty)
                "
              >
                {{
                  "PASSENGER_INFO.FORM.PHONE_NUMBER_REQUIRED" | translate
                }}
              </div>
            </div>

            <!-- เพศ/สถานะสภาพ -->
            <div class="col-6">
              <label
                [class.label-error]="
                  group.get('gender')?.errors &&
                  (group.get('gender')?.touched || group.get('gender')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.GENDER_STATUS" | translate }}
                <span class="form-required">*</span>
              </label>

              <!-- ชาย -->
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gender_male-{{ i }}"
                  formControlName="gender"
                  value="MALE"
                />
                <label class="form-check-label" for="gender_male-{{ i }}">
                  <img
                    class="passenger-male-icon"
                  src="icons/passenger-male.svg"
                  alt="Passenger male Icon"
                />
                {{ "PASSENGER_INFO.GENDER.MALE" | translate }}
              </label>
            </div>

              <!-- หญิง -->
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gender_female-{{ i }}"
                  formControlName="gender"
                  value="FEMALE"
                />
                <label class="form-check-label" for="gender_female-{{ i }}">
                  <img
                    class="passenger-female-icon"
                  src="icons/passenger-female.svg"
                  alt="Passenger Female Icon"
                />
                {{ "PASSENGER_INFO.GENDER.FEMALE" | translate }}
              </label>
            </div>

              <!-- พระ -->
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gender_monk-{{ i }}"
                  formControlName="gender"
                  value="MONK"
                />
                <label class="form-check-label" for="gender_monk-{{ i }}">
                  <img
                    class="passenger-monk-icon"
                  src="icons/passenger-monk.svg"
                  alt="Passenger Monk Icon"
                />
                {{ "PASSENGER_INFO.GENDER.MONK" | translate }}
              </label>
            </div>

              <div
                class="text-error"
                *ngIf="
                  group.get('gender')?.errors &&
                  (group.get('gender')?.touched || group.get('gender')?.dirty)
                "
              >
                {{ "PASSENGER_INFO.FORM.GENDER_STATUS_REQUIRED" | translate }}
              </div>
            </div>

            <!-- ต้องการเลือกที่นั่ง (ไม่บังคับ) -->
            <div class="col-12 mt-4">
              <div class="subtitle">
                {{ "PASSENGER_INFO.FORM.SEAT_SECTION_TITLE" | translate }}
              </div>
            </div>
            <div class="col-12 text-muted">
              {{ "PASSENGER_INFO.FORM.SEAT_SECTION_HINT" | translate }}
            </div>

            <div class="col-12 mt-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isSelectSeat-{{ i }}"
                  formControlName="isSelectSeat"
                />
                <label class="form-check-label" for="isSelectSeat-{{ i }}">
                  {{
                    "PASSENGER_INFO.FORM.SELECT_SEAT_OPTIONAL" | translate
                  }}
                </label>
              </div>
            </div>

            <div
              class="d-flex justify-content-center w-100 mt-3"
              *ngIf="group.get('isSelectSeat')?.value"
            >
              <div class="w-50">
                <ng-container *ngIf="isVanVehicle$ | async; else busSeatMap">
                  <app-passenger-seat-van
                    [gender]="group.get('gender')?.value"
                    [currentSeat]="getFormValue(i, 'passengerSeat')"
                    [takenSeats]="getTakenSeats(i)"
                    (passengerSeatPositionOnChange)="setPassengerSeat(i, $event)"
                  ></app-passenger-seat-van>
                </ng-container>
                <ng-template #busSeatMap>
                  <app-passenger-seat-bus
                    [gender]="group.get('gender')?.value"
                    [currentSeat]="getFormValue(i, 'passengerSeat')"
                    [takenSeats]="getTakenSeats(i)"
                    (passengerSeatPositionOnChange)="setPassengerSeat(i, $event)"
                  ></app-passenger-seat-bus>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
