<ng-container *ngIf="canExport">
  <button
    type="button"
    class="admin-btn export-button-trigger"
    aria-haspopup="true"
    [attr.aria-busy]="loading"
    [disabled]="loading"
    (click)="menu.toggle($event)"
  >
    <span *ngIf="!loading" class="material-symbols-outlined">download</span>
    <span
      *ngIf="loading"
      class="material-symbols-outlined admin-loading-spinner export-button-spinner"
      aria-hidden="true"
    >sync</span>
    <span>{{ (loading ? 'COMMON.EXPORT.IN_PROGRESS' : (label || 'COMMON.EXPORT.BUTTON_LABEL')) | translate }}</span>
    <span class="material-symbols-outlined">expand_more</span>
  </button>
  <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
</ng-container>
