@if (canExport) {
  <button
    type="button"
    class="admin-btn export-button-trigger"
    aria-haspopup="true"
    [disabled]="loading"
    [appPending]="loading"
    (click)="menu.toggle($event)"
    >
    <span class="material-symbols-outlined" [attr.translate]="'no'">download</span>
    <span>{{ (label || 'COMMON.EXPORT.BUTTON_LABEL') | translate }}</span>
    <span class="material-symbols-outlined" [attr.translate]="'no'">expand_more</span>
  </button>
  <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
}
