<div class="station-bg">
  <div class="map-section">
    <div class="map-logo">
      <div class="station-section">
        <!-- HEADER -->
        <div class="station-section-header">
          {{ "HOME.STATION.HEADER" | translate }}
        </div>
        <!-- BODY -->
        <div class="station-section-body">
          <ng-container *ngIf="routeList | async as routes">
            <div class="station-full-switch" *ngIf="routes.length === 1">
              <div class="obrs-full-switch text-center">
                {{ getRoutesName(routes[0]) }}
              </div>
            </div>

            <!-- TOGGLE SWITCH -->
            <div class="station-toggle-switch" *ngIf="routes.length === 2">
              <div
                class="obrs-switch text-center"
                [class.left]="currentDirection === 'left'"
                [class.right]="currentDirection === 'right'"
              >
                <div
                  class="obrs"
                  [class.active]="currentDirection === 'left'"
                  (click)="onObrsClick('left')"
                >
                  {{ getRoutesName(routes[0]) }}
                </div>
                <div
                  class="obrs"
                  [class.active]="currentDirection === 'right'"
                  (click)="onObrsClick('right')"
                >
                  {{ getRoutesName(routes[1]) }}
                </div>
              </div>
            </div>
          </ng-container>

          <!-- DETAIL -->
          <div class="station-section-body-detail">
            <div class="station-list-container">
              <ng-container *ngIf="stationList | async as stations">
                <ng-container
                  *ngFor="let station of stations; let stationIndex = index"
                >
                  <div class="station-list-item" *ngIf="stationIndex % 2 === 0">
                    <div
                      class="station-bullet"
                      [class.no-before]="stationIndex === stations.length - 1"
                    >
                      <img
                        *ngIf="
                          stationIndex === 0 ||
                          stationIndex === stations.length - 1
                        "
                        src="images/station-node.svg"
                        alt="Station Node Image"
                      />
                      <img
                        *ngIf="
                          stationIndex !== 0 &&
                          stationIndex !== stations.length - 1
                        "
                        src="images/station-point.svg"
                        alt="Station Point Image"
                      />
                    </div>

                    <div class="station-line"></div>

                    <div class="station-content">
                      <div
                        class="station-card ml-5"
                        (click)="navMap(station.url)"
                      >
                        <div class="station-card-content">
                          {{ getStationName(station) }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="station-list-item" *ngIf="stationIndex % 2 !== 0">
                    <div
                      class="station-bullet"
                      [class.no-before]="stationIndex === stations.length - 1"
                    >
                      <img
                        *ngIf="
                          stationIndex === 0 ||
                          stationIndex === stations.length - 1
                        "
                        src="images/station-node.svg"
                        alt="Station Node Image"
                      />
                      <img
                        *ngIf="
                          stationIndex !== 0 &&
                          stationIndex !== stations.length - 1
                        "
                        src="images/station-point-odd.svg"
                        alt="Station Point Image"
                      />
                    </div>

                    <div class="station-content">
                      <div class="station-card" (click)="navMap(station.url)">
                        <div class="station-card-content">
                          {{ getStationName(station) }}
                        </div>
                      </div>
                    </div>

                    <div class="station-line"></div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
