@import "../../../../../styles/variables.scss";

.station-bg {
  background-color: $secondary-lightgrey;

  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;

  .map-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)),
      $secondary-lightgrey;
    border-radius: 24px 24px 0 0;
    width: 100%;

    .map-logo {
      background-image: url("/images/station-bg.svg");
      background-size: cover;
      background-position: center;

      width: 100%;
      border-radius: 24px 24px 0 0;
    }
  }
}

.station-section {
  width: 100%;
  height: max-station-content;

  padding-top: 72px;
  padding-bottom: 72px;

  &-header {
    text-align: center;

    color: $text-white;
    font-size: 32px;
    font-weight: 500;
  }

  &-body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;

    &-detail {
      background-color: $primary-lightblue;

      width: 1200px;
      height: max-content;

      margin-top: -30px;
      margin-left: auto;
      margin-right: auto;

      padding-top: 60px;
      padding-bottom: 60px;

      border-radius: 24px;

      z-index: 1;
    }
  }
}

.station-card {
  padding: 4px;
  min-height: 49px;
  border-radius: 24px;
  background-color: $secondary-blue;

  color: $text-white;
  font-size: 16px;
  font-weight: 500;

  text-align: center;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.station-card-content {
  padding: 8px 16px;
  min-height: 41px;

  border: 2px solid $primary-white;
  border-radius: 24px;
  background-color: $secondary-blue;

  color: $text-white;
  font-size: 16px;
  font-weight: 500;

  text-align: center;
  cursor: pointer;
}

.station-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding-left: 300px;
  padding-right: 300px;
}

.station-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 10px 0;
  position: relative;
}

.station-list-item:nth-child(even) {
  justify-content: flex-start;
  gap: 5px;
}

.station-list-item:nth-child(odd) {
  justify-content: flex-end;
  gap: 5px;
}

.station-bullet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.station-bullet::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  width: 5px;
  height: 80px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-left: 5px dashed $primary-white;
}

.station-bullet.no-before::before {
  content: none;
}

.station-content {
  width: 200px;
}

.station-toggle-switch {
  border-radius: 37px;
  background-color: $primary-white;
  padding: 8px;
  max-width: max-station-content;
  margin-left: auto;
  margin-right: auto;

  color: $text-softblack;

  z-index: 2;
}

.obrs-switch {
  position: relative;
}

.obrs-switch:after {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
  border-radius: 24px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: $primary-blue;
  height: 100%;
  z-index: 0;
}

.obrs-switch.left:after {
  left: 0;
}

.obrs-switch.right:after {
  left: 50%;
}

.obrs-switch .obrs {
  display: inline-block;
  width: 50%;
  padding: 12px 20px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: color 200ms;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  user-select: none;
}

.obrs-switch .obrs.active {
  color: $text-white;
}

.station-line {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100px;
  border-top: 2px solid $secondary-blue;
}

/* สำหรับเลขคู่ → Bullet อยู่ถัดจากเส้นไปทางขวา */
.station-list-item:nth-child(even) .station-line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: $secondary-blue;
  border-radius: 50%;
}

/* สำหรับเลขคี่ → Bullet อยู่ถัดจากเส้นไปทางซ้าย */
.station-list-item:nth-child(odd) .station-line::after {
  content: "";
  position: absolute;
  left: 64.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: $secondary-blue;
  border-radius: 50%;
}

.icon-43 {
  width: 43px;
  height: 43px;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}
