<div class="login-container">
  <div class="left-section">
    <img src="login.svg" alt="Tickets" class="illustration" />
  </div>

  <div class="right-section">
    <div class="d-flex justify-content-end dropdown mb-3">
      <button
        #dropdownButton
        class="btn btn-lang dropdown-toggle p-0"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [class.active]="isDropdownOpen"
        (click)="toggleDropdown()"
      >
        <img class="mx-2" [src]="currentLanguage + '.svg'" alt="th" />
        {{ currentLanguage === "th" ? "ภาษาไทย" : "English" }}
        <img
          class="arrow-icon"
          [src]="isDropdownOpen ? 'arrow-up.svg' : 'arrow-down.svg'"
          alt="Arrow Icon"
        />
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item menu-lang" (click)="switchLanguage('th')">
            <img class="mx-2" src="th.svg" alt="th" />

            ภาษาไทย
          </a>
        </li>
        <li>
          <a class="dropdown-item menu-lang" (click)="switchLanguage('en')">
            <img class="mx-2" src="en.svg" alt="en" />

            English
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div class="logo">
        <img src="logo.svg" alt="Phuyaipu Logo" />
      </div>
    </div>

    <!-- ยินดีต้อนรับเข้าสู่ระบบ -->
    <h1 class="text-center mt-3">
      {{ "LOGIN_BY_PHONE_NO.WELCOME" | translate }}
    </h1>

    <!-- กรุณากรอกหมายเลข OTP จาก SMS ที่ส่งไปยังหมายเลข +66812345xxx -->
    <p class="text-center subtext">
      {{ "LOGIN_BY_PHONE_NO.HINT" | translate }} {{ phoneNo }}
    </p>

    <form class="login-form mt-3" [formGroup]="loginForm">
      <!-- หมายเลข OTP หมดอายุ กรุณากรอกใหม่อีกครั้ง (00 : 00) -->
      <p class="text-center otp-time">
        {{ "LOGIN_BY_PHONE_NO.OTP_TIME" | translate }} {{ displayTime }})
      </p>

      <!-- OTP -->
      <div class="d-flex justify-content-center align-items-center">
        <app-otp
          [disabled]="remainingTime === 0"
          (otpCode)="setOTPCode($event)"
        ></app-otp>
      </div>

      <!-- อ้างอิงจาก : AABC -->
      <div class="text-center otp-ref-text">
        {{ "LOGIN_BY_PHONE_NO.OTP_REF" | translate }} : {{ otpRef }}
      </div>

      <!-- ส่ง OTP อีกครั้ง -->
      <button type="submit" class="login-button" (click)="login()">
        {{ "LOGIN_BY_PHONE_NO.OTP_LOGIN" | translate }}
      </button>

      <!-- คุณยังไม่ได้รับหมายเลข OPT? ส่งอีกครั้ง -->
      <p class="register-link text-center mt-4">
        {{ "LOGIN_BY_PHONE_NO.NO_OTP" | translate }}
        <a class="obrs-link" (click)="resendOTP()">
          {{ "LOGIN_BY_PHONE_NO.NO_OTP_LINK" | translate }}
        </a>
      </p>
    </form>

    <!-- <div class="footer">© NJ Phuyaipu 2024. all rights reserved</div> -->
  </div>
</div>
