@import "../../../styles/variables.scss";
@import "../login/login.component.scss";

.otp-time {
  font-size: 16px;
  color: $text-blue;
  margin-bottom: 24px;
}

.otp-ref-text {
  font-size: 16px;
  color: $text-lightblack;
  text-align: center;
  margin-top: 24px;
}
