@import "../../../styles/variables.scss";

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: auto;
  background: $primary-white;

  // CHANGE LANGUAGE SWITCH
  .change-language {
    display: flex;
    justify-content: flex-end;

    .btn.dropdown-toggle {
      width: 180px;
      padding: 8px !important;
      border: 1px solid #dddee1 !important;
      border-radius: 24px !important;
      background-color: transparent !important;
    }

    .btn-lang {
      &:hover {
        color: $primary-blue !important;
        border: 1px solid $primary-blue !important;
      }
    }

    .menu-lang {
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      color: $text-black !important;
      background-color: transparent !important;
      text-decoration: none;

      &:hover {
        color: $primary-blue !important;
      }
    }

    .dropdown-toggle::after {
      content: none !important;
    }

    .arrow-icon {
      width: 24px;
      height: 24px;
      margin-left: 0.5rem;
    }
  }

  // LEFT SECTION
  .left-section {
    width: 60%;

    .bg-img {
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  }

  // RIGHT SECTION
  .right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40%;
    padding-left: 80px;
    padding-right: 80px;

    .language-switch {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      span {
        margin-right: 10px;
        font-size: 16px;
        color: $text-black;
      }
    }

    .logo-section {
      display: flex;
      justify-content: center;

      .logo-img {
        width: 200px;
        height: 87px;
      }
    }

    .welcome-text {
      text-align: center;
      font-size: 28px;
      color: $text-black;
    }

    .hint-text {
      text-align: center;
      font-size: 18px;
      color: $text-black;
    }

    .option-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .login-form {
      .login-btn {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background-color: $primary-blue;
        color: #fff;
      }

      .login-by-phone-no-btn {
        width: 100%;
        padding: 12px;
        border: 1px solid #3c9bc6;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background-color: #f6fcff;
        color: $primary-blue;
      }

      .register-link {
        text-align: center;
        font-size: 16px;
        color: $text-black;

        a {
          color: $secondary-blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .or-section {
        display: flex;
        align-items: center;
      }
    }
  }
}

.label-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.tooltip-box {
  display: none;
  position: absolute;
  bottom: 140%;
  left: 95%;
  transform: translateX(-95%);
  background-color: $secondary-grey;
  color: $text-black;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 999;
  font-size: 14px;
  line-height: 1.8;
  width: 320px;
  text-align: justify;
  text-justify: inter-word;

  strong {
    line-height: 2.2 !important;
  }
}

.tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 95%;
  transform: translateX(-95%);
  border-width: 8px;
  border-style: solid;
  border-color: $secondary-grey transparent transparent transparent;
}

.tooltip-container:hover .tooltip-box {
  display: block;
}
