<div class="login-container">
  <div class="left-section">
    <img src="images/login.svg" alt="Tickets" class="illustration" />
  </div>

  <div class="right-section">
    <div class="d-flex justify-content-end dropdown mb-3">
      <button
        #dropdownButton
        class="btn btn-lang dropdown-toggle p-0"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        [class.active]="isDropdownOpen"
        (click)="toggleDropdown()"
      >
        <img class="mx-2" [src]="currentLanguage + '.svg'" alt="th" />
        {{ currentLanguage === "th" ? "ภาษาไทย" : "English" }}
        <img
          class="arrow-icon"
          [src]="isDropdownOpen ? 'arrow-up.svg' : 'arrow-down.svg'"
          alt="Arrow Icon"
        />
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="dropdown-item menu-lang" (click)="switchLanguage('th')">
            <img class="mx-2" src="th.svg" alt="th" />

            ภาษาไทย
          </a>
        </li>
        <li>
          <a class="dropdown-item menu-lang" (click)="switchLanguage('en')">
            <img class="mx-2" src="en.svg" alt="en" />

            English
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div class="logo">
        <img src="images/logo.svg" alt="Phuyaipu Logo" />
      </div>
    </div>

    <!-- ยินดีต้อนรับเข้าสู่ระบบ -->
    <h1 class="text-center mt-3">
      {{ "LOGIN.WELCOME" | translate }}
    </h1>

    <!-- กรุณากรอกข้อมูลด้านล่าง เพื่อความสะดวกในการจองตั๋วของคุณ -->
    <p class="text-center subtext mt-1">
      {{ "LOGIN.HINT" | translate }}
    </p>

    <form class="login-form mt-3" [formGroup]="loginForm">
      <!-- ชื่อผู้ใช้งาน -->
      <label
        for="email"
        [class.label-error]="
          getForm('username')?.errors &&
          (getForm('username')?.touched || getForm('username')?.dirty)
        "
      >
        {{ "LOGIN.USERNAME" | translate }}
      </label>
      <input
        class="form-control mt-1"
        type="text"
        id="username"
        formControlName="username"
        [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate"
        [class.form-error]="
          getForm('username')?.errors &&
          (getForm('username')?.touched || getForm('username')?.dirty)
        "
      />
      <div
        class="text-error"
        *ngIf="
          getForm('username')?.errors &&
          (getForm('username')?.touched || getForm('username')?.dirty)
        "
      >
        {{ "LOGIN.USERNAME_REQUIRED" | translate }}
      </div>

      <!-- รหัสผ่าน -->
      <label
        class="mt-3"
        for="password"
        [class.label-error]="
          getForm('password')?.errors &&
          (getForm('password')?.touched || getForm('password')?.dirty)
        "
      >
        {{ "LOGIN.PASSWORD" | translate }}
      </label>
      <div class="password-container mt-1">
        <input
          class="form-control"
          [type]="isShowPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
          [class.form-error]="
            getForm('password')?.errors &&
            (getForm('password')?.touched || getForm('password')?.dirty)
          "
        />
        <img
          *ngIf="isShowPassword"
          class="icon-eye"
          src="icons/eyes-close.svg"
          alt="eyes-close"
          (click)="toggleShowPassword()"
        />
        <img
          *ngIf="!isShowPassword"
          class="icon-eye"
          src="icons/eyes-open.svg"
          alt="eyes-close"
          (click)="toggleShowPassword()"
        />
      </div>
      <div
        class="text-error"
        *ngIf="
          getForm('password')?.errors &&
          (getForm('password')?.touched || getForm('password')?.dirty)
        "
      >
        {{ "LOGIN.PASSWORD_REQUIRED" | translate }}
      </div>

      <!-- จดจำรหัสผ่าน -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="form-check">
          <input
            class="form-check-input col-2"
            type="checkbox"
            formControlName="rememberMe"
            id="rememberMe"
          />
          <label class="form-check-label" for="rememberMe">
            {{ "LOGIN.REMEMBER" | translate }}
          </label>
        </div>

        <!-- ลืมรหัสผ่านใช่หรือไม่? -->
        <a href="#" class="forgot-password obrs-link">
          {{ "LOGIN.FORGETPASSWORD" | translate }}
        </a>
      </div>

      <!-- เข้าสู่ระบบ -->
      <button type="submit" class="login-button" (click)="login()">
        {{ "LOGIN.LOGIN" | translate }}
      </button>

      <!-- หรือ -->
      <div class="d-flex align-items-center gap-3 my-3">
        <hr />
        <span>
          {{ "LOGIN.OR" | translate }}
        </span>
        <hr />
      </div>

      <!-- เข้าสู่ระบบด้วยเบอร์โทรศัพท์ -->
      <button type="submit" class="login-mobile-button" [routerLink]="'/login-mobile'">
        {{ "LOGIN.LOGINMOBILE" | translate }}
      </button>

      <!-- คุณยังไม่มีบัญชี? ลงทะเบียนที่นี้ -->
      <p class="register-link text-center mt-4">
        {{ "LOGIN.REGISTERLINK" | translate }}
        <a class="obrs-link" [routerLink]="'/register'">
          {{ "LOGIN.REGISTERLINK_CLICK" | translate }}
        </a>
      </p>
    </form>

    <!-- <div class="footer">© NJ Phuyaipu 2024. all rights reserved</div> -->
  </div>
</div>
