@import "../../../styles/variables.scss";

// Container for the login page
.login-container {
  display: flex;
  height: 100vh;
  padding: 20px;

  background: $primary-white;

  // Left Section
  .left-section {
    width: 60%;

    .logo-section {
      width: 100%;
      border-radius: 24px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // Right Section
  .right-section {
    width: 40%;

    flex: 1;
    padding: 128px 80px;
    padding-top: 0px;

    display: flex;
    flex-direction: column;

    .language-switch {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 20px;

      span {
        font-size: 16px;
        margin-right: 10px;
        color: $text-black;
      }
    }

    .logo-section {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      margin-bottom: 20px;
    }

    .logo {
      width: 150px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
      color: $text-black;
    }

    .subtext {
      font-size: 18px;
      color: $text-black;
      margin-bottom: 30px;
    }

    .login-form {
      .password-container {
        display: flex;
        align-items: center;
        position: relative;

        .icon-eye {
          position: absolute;
          right: 10px;
          cursor: pointer;
          color: #aaa;
        }
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .forgot-password {
          font-size: 16px;
          color: $secondary-blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-button {
        width: 100%;
        margin-top: 32px;
        padding: 12px;
        background-color: $primary-blue;
        color: #fff;
        border: none;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .login-mobile-button {
        width: 100%;
        padding: 12px;
        background-color: #f6fcff;
        color: $primary-blue;
        border: 1px solid #3c9bc6;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }

      .register-link {
        font-size: 16px;
        color: $text-black;
        margin-top: 10px;

        a {
          color: $secondary-blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer {
      font-size: 16px;
      color: #babdc3;
      text-align: center;
    }
  }
}

.btn.dropdown-toggle {
  border: 1px solid #dddee1 !important;
  border-radius: 24px !important;
  background-color: transparent !important;
  padding: 8px !important;
  width: 180px;
}

.btn-lang {
  &:hover {
    color: $primary-blue !important;
    border: 1px solid $primary-blue !important;
  }
}

.menu-lang {
  cursor: pointer;
  padding: 10px;

  text-decoration: none;
  color: $text-black !important;
  font-size: 16px;
  font-weight: 500;

  background-color: transparent !important;

  &:hover {
    color: $primary-blue !important;
  }
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.dropdown-toggle::after {
  content: none !important;
}
