// Color variables
$primary-color: #4bc2f7;
$secondary-color: #4069b8;
$menu-font-color: #353c44;

// Container for the login page
.login-container {
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  height: 100vh;
  padding: 20px;

  // Left Section
  .left-section {
    background-color: lighten($primary-color, 30%);
    border-radius: 24px;

    .illustration {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Right Section
  .right-section {
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;

    .language-switch {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 20px;

      span {
        font-size: 16px;
        margin-right: 10px;
        color: $menu-font-color;
      }
    }

    .logo img {
      width: 150px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
      color: $menu-font-color;
    }

    .subtext {
      font-size: 16px;
      color: lighten($menu-font-color, 20%);
      margin-bottom: 30px;
    }

    .login-form {
      .password-container {
        display: flex;
        align-items: center;
        position: relative;

        .icon-eye {
          position: absolute;
          right: 10px;
          cursor: pointer;
          color: #aaa;
        }
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .forgot-password {
          font-size: 16px;
          color: $secondary-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .login-button {
        width: 100%;
        padding: 12px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      .login-mobile-button {
        width: 100%;
        padding: 12px;
        background-color: #dddee1;
        color: $primary-color;
        border: 1px solid #3c9bc6;
        border-radius: 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      .register-link {
        font-size: 16px;
        color: $menu-font-color;
        margin-top: 10px;

        a {
          color: $secondary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer {
      font-size: 16px;
      color: #BABDC3;
      text-align: center;

      clear: both;
      position: relative;
      height: 50px;
      margin-top: 270px;
    }
  }
}

.btn.dropdown-toggle {
  border: 1px solid #dddee1 !important;
  border-radius: 12px !important;
  background-color: transparent !important;
  padding: 8px !important;
  width: 180px;
}

.btn-lang {
  &:hover {
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
  }
}

.menu-lang {
  cursor: pointer;
  padding: 10px;

  text-decoration: none;
  color: $menu-font-color !important;
  font-size: 16px;
  font-weight: 500;

  background-color: transparent !important;

  &:hover {
    color: $primary-color !important;
  }
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.dropdown-toggle::after {
  content: none !important;
}