/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Sarabun", sans-serif;
}

.form-control {
  background-color: #fff !important;
  border: 1px solid #dddee1 !important;
  border-radius: 12px !important;
}

.form-check-input:checked {
  background-color: #4bc2f7 !important;
  border-color: #4bc2f7 !important;
}

a {
  font-size: 16px !important;
  color: #4bc2f7 !important;
}

label,
input {
  font-size: 16px !important;
  color: #353c44 !important;
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #babdc3;
  width: 100%;
}
