@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700;800&display=swap");
@import "./styles/variables.scss";

* {
  font-family: "Sarabun", sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid $primary-grey;
  width: 100%;
}

.form-control {
  background-color: $primary-white !important;
  border: 1px solid $primary-lightgrey !important;
  border-radius: 24px !important;
}

.form-check-input:checked {
  background-color: $primary-blue !important;
  border-color: $primary-blue !important;
}

.obrs-link {
  font-size: 16px !important;
  color: $primary-blue !important;
}

label,
input {
  font-size: 16px !important;
  color: $text-black !important;
  width: 100%;
}

.label-error,
.text-error,
.form-required {
  color: $text-red !important;
}

.form-error {
  border: 1px solid $text-red !important;
}

.form-row {
  margin-top: 24px;
}
