<div class="footer-container">
  <!-- ADDRESS -->
  <div class="address-container">
    <!-- LOGO -->
    <img class="logo" src="images/logo.svg" alt="Logo" />
    <!-- HEADER -->
    <div class="address-title mt-3">
      {{ "HOME.FOOTER.HEADER" | translate }}
    </div>
    <!-- TITLE -->
    <div class="address-text mt-2">
      {{ "HOME.FOOTER.TITLE" | translate }}
    </div>
    <!-- ADDRESS -->
    <div class="address-text">
      {{ "HOME.FOOTER.ADDRESS" | translate }}
    </div>
  </div>
  <!-- MENU -->
  <div class="menu-container">
    <!-- MENU TITLE -->
    <div class="menu-title mt-2">
      {{ "HOME.FOOTER.MENU_TITLE" | translate }}
    </div>
    <!-- MENU TEXT -->
    <div class="menu-text mt-3">
      {{ "HOME.FOOTER.MENU_TEXT_1" | translate }}
    </div>
    <!-- MENU TEXT -->
    <div class="menu-text mt-3">
      {{ "HOME.FOOTER.MENU_TEXT_2" | translate }}
    </div>
  </div>
  <!-- MAIN CONTACT -->
  <div class="contact-container">
    <!--  MAIN CONTACT TITLE -->
    <div class="contact-title mt-2">
      {{ "HOME.FOOTER.MAIN_CONTACT_TITLE" | translate }}
    </div>
    <!--  MAIN CONTACT ADDRESS -->
    <div class="contact-text mt-3">
      <!-- ICON -->
      <img
        style="height: 24px"
        src="images/footer-facebook.svg"
        alt="Facbook Icon"
      />
      <!-- TEXT -->
      {{ "HOME.FOOTER.MAIN_CONTACT_ADDRESS_1" | translate }} <br />
      <!-- TEXT -->
      {{ "HOME.FOOTER.MAIN_CONTACT_ADDRESS_2" | translate }}
    </div>
    <!--  MAIN CONTACT PHONE NUMBER -->
    <div class="contact-text mt-2">
      <!-- ICON -->
      <img src="images/footer-phone.svg" alt="Phone Icon" />
      <!-- TEXT -->
      {{ "HOME.FOOTER.MAIN_CONTACT_PHONE_NUMBER" | translate }}
    </div>
  </div>
  <!-- MAIN CONTACT (MOCHIT) -->
  <div class="contact-container">
    <!--  MAIN CONTACT TITLE MOCHIT)-->
    <div class="contact-title mt-2">
      {{ "HOME.FOOTER.MOCHIT_CONTACT_TITLE" | translate }}
    </div>
    <!--  MAIN CONTACT LOCATION MOCHIT) -->
    <div class="contact-text mt-3">
      <!-- ICON -->
      <img
        style="height: 20px"
        src="images/footer-location.svg"
        alt="Location Icon"
      />
      <!-- TEXT -->
      {{ "HOME.FOOTER.MOCHIT_CONTACT_ADDRESS_1" | translate }} <br />
      <!-- TEXT -->
      {{ "HOME.FOOTER.MOCHIT_CONTACT_ADDRESS_2" | translate }}
    </div>
  </div>
</div>
<!-- LINE -->
<div class="line-container">
  <div class="divide-line"></div>
</div>
<!-- COPY RIGHT -->
<div class="copyright-container">
  <div class="copyright-text">
    {{ "HOME.FOOTER.COPYRIGHT_TEXT" | translate }}
  </div>
</div>
