@import "../../../../../styles/variables.scss";

.footer-container {
  display: flex;
  flex-direction: row;
  column-gap: 100px;

  padding: 40px 360px 24px 360px;

  background-color: $primary-white;
}

.address-container {
  display: flex;
  flex-direction: column;

  .logo {
    width: 80px;
    height: 35px;
  }

  .address-title {
    font-size: 14px;
    color: $text-softblack;
    font-weight: 700;
  }

  .address-text {
    font-size: 14px;
    color: $text-softblack;
    font-weight: 400;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;

  .menu-title {
    font-size: 14px;
    color: $text-softblack;
    font-weight: 700;
  }

  .menu-text {
    font-size: 14px;
    color: $text-softblack;
    font-weight: 400;

    cursor: pointer;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;

  .contact-title {
    font-size: 14px;
    color: $text-softblack;
    font-weight: 700;
  }

  .contact-text {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    font-size: 14px;
    color: $text-softblack;
    font-weight: 400;
  }
}

.line-container {
  padding: 0px 360px 24px 360px;

  .divide-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e4e4e7;
    margin: 1em 0;
    padding: 0;
  }
}

.copyright-container {
  padding: 0px 360px 40px 360px;

  .copyright-text {
    font-size: 12px;
    color: $text-softblack;
    font-weight: 400;
  }
}
